name = "cloud-mail"
main = "src/index.js"
compatibility_date = "2025-06-04"
keep_vars = true

[observability]
enabled = true

# --- 数据库与存储绑定 (必须取消注释并填入 ID) ---
[[d1_databases]]
binding = "db"
database_name = "email" 
database_id = "e840dc21-7209-44d0-a80e-bafc40395b7a"

[[r2_buckets]]
binding = "r2"
bucket_name = "email" # 用于存放图片/视频附件

[assets]
binding = "assets"
directory = "./dist"
not_found_handling = "single-page-application"
run_worker_first = true

[triggers]
crons = ["0 16 * * *"] # 每天执行定时任务

# --- 变量配置 (参考图 image_dc2cf4.png) ---
[vars]
orm_log = false
admin = "lala@pj.edu.kg"
# 注意：domain 这里要和后台 JSON 格式对应
domain = ["pj.edu.kg", "ava.us.ci"] 
jwt_secret = "1102"
# 添加你在 Brevo 设置的授权密钥
AUTH_KEY = ""

[build]
command = "pnpm --prefix ../mail-vue install && pnpm --prefix ../mail-vue run build"
